<!DOCTYPE html>
<html>
	<head>
		<title>EditMenuItem</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}"/>
	</head>

	<body>
		
		<h1>Edit Menu Item</h1>
		
		<form action="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = i.id)}}" method= 'POST'>
			<p>Name:</p>
			<input type = 'text' size = '60' name = 'name' placeholder = '{{i.name}}'>
			<p>Description:</p>
			<textarea cols = '60' rows = '4' name = 'description' placeholder = '{{i.description}}'></textarea>
			<p>Price:</p>
			<input type = 'text' size = '60' name = 'price' placeholder = '{{i.price}}'>
			</br>
			<p>Course:</p>
			<select name = 'course' placeholder = '{{i.course}}'>
				<option value = '{{i.course}}' selected>{{i.course}}</option>
				<option value = 'Brunch'>Brunch</option>
				<option value = 'Appetizer'>Appetizer</option>
				<option value = 'Entree'>Entree</option>
				<option value = 'Dessert'>Dessert</option>
				<option value = 'Side'>Side</option>
				<option value = 'Drink'>Drink</option>
			</select>
			</br></br>
			<input type = 'submit' value = 'Edit'>
			<a href = '{{url_for('restaurantMenu', restaurant_id = i.restaurant_id)}}'>Cancel</a>
		</form>

	</body>
</html>