<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}"/>
</head>
<body>
	<h1>Restaurant List</h1>
	<a href = '{{url_for('showLogin')}}'>Login</a>
	</br>	
	{% for i in restaurants %}
	<div class="photos">
	<a href='{{url_for('restaurantMenu', restaurant_id = i.id)}}' >
		<img class="img-icon" src="{{url_for('static', filename = i.logo)}}">
	</a>
	
	<h2>{{i.name}}</h2>

	</br>
	</div>
	{% endfor %}
	

</body>
</html>